*{
	color: #666666;
}
html{
	font-size:14px;
}
body{
	font-family: Open Sans, Helvetica, sans-serif;
	background-color: #eeeeee;
}
h1{
}
a{
	outline: none;
}
header {
    background-color: #242527;
    height: 45px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 30;
}
header .user-block li.main{
    border-left: 1px solid #484a4f;
}
header .user-block li.main a:hover {
    background-color: #3493c3;
    text-decoration: none;
}
header .user-block li.main a:hover a {
    background-color: #3493c3;
    text-decoration: none;
}
header .user-block li.main:hover .dropdown-menu {
    display: block;
    right: 1px !important;
    left: auto;
    top: 44px;
}
header .user-block li.main .dropdown-menu a {
    color: #666666;
}
header .user-block li.main .dropdown-menu a:hover {
    background-color: #f5f5f5;
}
header .user-block li.main .dropdown-menu {
    display: none;
}
.table td, .table th {
    line-height: 1.2rem;
}
div#container{
	background-image:url("/Public/Images/Admin/login_bg.png?6");
	background-repeat: no-repeat;
    background-position: center top;
    min-height:366px;
    padding-top:150px;
}

div#content div#login-form {
    border: 1px solid #000000;
    background-color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.80);
    -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.80);
    box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.80);
    position: relative;
}
div#content div#login-form div.content {
    width: 100%;
    border: 1px solid #9db2bd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 40px;
    color: #999999;
}
div#content div#login-form div.admin {
    position: absolute;
    top: -30px;
    left: 5px;
    width: 100px;
    height: 20px;
    font-size: 1.375rem;
    color: #000;
}
div#main-content {
    padding-left: 200px;
    padding-top: 45px;
}
.glyphicons,
 .user-block .dropdown-menu .glyphicons {
	color: #666;
}
#sidebar .card .glyphicons, .user-block .glyphicons{
	color: #fff;
}
.glyphicons-pencil,.glyphicons-move {
    color: #3493c3;
    cursor: pointer;
}
.form-control{
    font-size: 0.857rem;
    border-radius: 0.25rem;
}
.glyphicons:before {
    padding: 0px;
}
.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
}
.btn:not(.btn-lg):not(.btn-sm):not(.btn-xs), .form-control:not(textarea) {
    height: 2.5rem !important;
}
div#content div#login-form .btn, div#content div#login-form .form-control {
    height: 3rem;
}
.form-control-sm:not([size]):not([multiple]) {
    height: 2.23rem !important;
}
.fileinput-filename a.dropdown-toggle{
	font-size: 1rem;
}
div#sidebar .card {
    border-bottom: 1px solid #646464;
    position: relative;
}
div#sidebar .card a {
    color: #eeeeee;
    position: relative;
    text-decoration: none;
}
div#sidebar .card a:hover {
    background-color: #27272B;
    text-decoration: none;
}
div#sidebar .card ul li a {
    padding: 5px;
    font-size: 0.857rem;
}
div#sidebar .card ul li {
    border-top: 1px dotted #646464;
}
div#sidebar .card ul li a:hover {
    background-color: #414247;
}
div#sidebar .card ul li a.selected {
    background-color: #27272B;
    border-right: 0px none;
    border-left: 4px solid #3493c3;
}
div#sidebar .card a.selected {
    border-right: 4px solid #3493c3;
    background-color: #3493c3;
}
div#sidebar .card a span.right {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 0.857rem;
}
div#sidebar .card a.selected span.right {
    right: 6px;
}
div#sidebar .card a span.glyphicons-chevron-down {
    display: block;
}
div#sidebar .card a span.glyphicons-chevron-left {
    display: none;
}
div#sidebar .card a.collapsed span.glyphicons-chevron-left {
    display: block;
}
div#sidebar .card a.collapsed span.glyphicons-chevron-down {
    display: none;
}
div#sidebar div.copyright {
    text-align: center;
    border-top: 1px solid #646464;
}
div#sidebar div.copyright a {
    color: #999999;
    font-size: 0.857rem;
}
#sideMenuAccordionScroll{
	overflow: hidden;
	position: relative;
}
.btn-sm {
    padding: .36rem .714rem;
    font-size: .875rem;
}
.btn-xs {
    padding: .357rem;
    font-size: .714rem;
}
.input-group-icon {
    padding: 0rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    background-color: #fff;
    border-right: none;
}
.input-group-icon.glyphicons:before{
	color: #666666;
	opacity: 0.5;
}

.input-group.icon input{
    border-left: none;
    padding-left: 0rem;
    
}
.form-control:focus{
    outline: none;
    border: 1px solid #ced4da;
    box-shadow:none;
}
.ui-datepicker-trigger {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}
.search-content-list{
	max-height: 287px;
    overflow: auto;
    background-color: #ddd;
    position: absolute;
    top: 101px;
    left: 0px;
    width: 100%;
    z-index: 2;
}
.search-content-list ul{
	display:none;
	list-style-type: none;
	padding: 0px;
}
.search-content-list li{
	padding:5px 10px;
	cursor:pointer;
	border-bottom: 1px dashed #ccc;
}
.search-content-list li span{
	display:none;
}
.search-content-list li:hover{
	background-color:#ccc;
}
.related-articles .search-content-list{
	top: 223px;
}
.search-file .search-content-list{
	top: 63px;
}
.related-articles span.selected-articles{
	width: 100%;
	height: 160px;
	position: relative;
	border: 1px solid #D7D7D7;
	display: inline-block;
	overflow-y:scroll; 
}
.related-articles span.selected-articles span.item{
	overflow: hidden;
}
.related-articles span.selected-articles span.odd{
	background-color: #ffffff;
	display: block;
	padding: 6px;
	font-weight: bold;
}
.related-articles span.selected-articles span.even{
	background-color: #eeeeee;
	display: block;
	padding: 6px;
}
.related-articles span.selected-articles span.title{
	float: left;
	font-weight: bold;
}
.related-articles span.selected-articles a{
	float: right;
	background: url("/Public/Images/Admin/delete.png");
	width: 23px;
	height: 23px;
	padding: 0;
}
.related-articles span.selected-articles span.clear-both{
	display: block;
}
div#sidebar {
    position: fixed;
    height: 100%;
    padding-top: 45px;
    width: 200px;
    background-color: #35363a;
}
.glyphicons-pencil, .glyphicons-move {
    color: #3493c3 !important;
    cursor: pointer;
}
.card .glyphicons{
	font-size: 1.143rem;
	color: #666666;
}
.card .card-header .text{
	line-height: 1.143rem;
	color: #333;
}
.file-footer-buttons .glyphicons{
	font-size: 1rem;
}
.hidden-lang {
    display: none;
}
.language-mutations{
	display: block;
}
.language-mutations a{
	display: inline-block;
	padding: 0;
	margin-right: 5px;
	width: 15px;
	height: 11px;
	border: 1px solid #D7D7D7;
	cursor:pointer;
}

.selected-link span.parrent-links {
    overflow-y: scroll;
	height: 145px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #D7D7D7;
	min-width: 189px;
	z-index:10;
}
.selected-link:hover span.parrent-links {
	display: block;
}

.selected-link span.parrent-links span.link {
    display: block;
    padding-left:0px;
}
.selected-link span.parrent-links span.link.nested{
    padding-left:10px;
}
.selected-link span.parrent-links span.link span.text{
    display: block;
	padding: 5px 10px;
	cursor: pointer;
}
.selected-link span.parrent-links span.link span.text span.glyphicons{
    font-size:12px;
}
.selected-link span.parrent-links span.link span.text:hover{
    background-color: #eee;
}
.selected-link span.parrent-links span.link span.text.nested {
	display: flex;
	align-items: center;
}
.selected-link span.parrent-links span.link span.text.nested .glyphicons {
	margin-right: 7px;
}
.selected-link span.parrent-links span.link span.link-id{
    display: none;
}
.selected-link,
.selected-link span.value{
	display: block;
	position: relative;
}
.selected-link span.value {
    padding-top: 0.6rem;
}
.other-sections .placeholder2{

	height:125px;
	border:1px dashed #CCCCCC;
	background-color:#3493c3;
	margin-left:0px;
		
}
.socialIcons .social {
    font-size: 44px;
    vertical-align: middle;
}
.socialIcons .glyphicons-move {
    vertical-align: middle;
}
.data-list li {
    border-top: 1px solid #ddd;
}
.table-responsive .header .th{
	border-bottom: 2px solid #dee2e6;
    padding: .75rem;
    line-height: 1.2rem;
    border-top: 1px solid #dee2e6;
}
.table-responsive .header .th{
	font-weight: bold;
}
.table-responsive ul.data-list li div:not(.w-100){
	line-height: 1.2rem;
	padding: .75rem;
    border-top: 1px solid #dee2e6;
}
.data-list .placeholder2{

	height:40px;
	border:1px dashed #CCCCCC !important;
	background-color:#3493c3 !important;
	margin-left:0px !important;
		
}
.requiere {
    color: #d51d1d;
    width: 12px;
    height: 42px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    font-weight: 600;
    font-size: 16px;
}
.img-thumbnail img{
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right:auto;
}
.section-elements .card-header .badge{
	font-size: 1rem;
}
.badge-brown{
	background-color: #915835;
	color: #fff;
}
.badge-dark-green{
	background-color: #5f9124;
	color: #fff;
}
  
.badge-dark-yellow{
	background-color: #c28618;
	color: #fff;
}
.badge-dark-fosfor{
	 background-color: #bcbe00;
	color: #fff;
}
   
    
.sub-links {
    display: none;
}

.btn-file{	
	display: flex;
    align-items: center;
}
.btn-file span,
.btn-file .glyphicons{
	color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-file .glyphicons,
.fileinput-remove .glyphicons,
.fileinput-upload .glyphicons,
.file-caption-icon .glyphicons{
	margin-right: 0.25rem;
}
.fileinput-remove .glyphicons,
.fileinput-upload .glyphicons,
.fileinput-remove span,
.fileinput-upload span{
    font-size: 1rem;
}

.fileinput-remove,
.fileinput-upload{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-transform: uppercase;
    
    
	display: flex;
    align-items: center;
}
.fileinput-remove:hover,
.fileinput-upload:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.file-caption {
	display: flex;
    align-items: center;
}
.krajee-default.file-preview-frame .kv-file-content{
	width: 190px;
}
.galleryPhotos div.photo,
.galleryVideos div.video,
.galleryPhotos div.placeholder2{
	float:left;
	text-align:center;
	border:1px solid silver;
	margin-bottom:5px;	
	padding-top:5px;
	padding-bottom:5px;
	min-height:190px;
}
.galleryPhotos div.photo .glyphicons-move,
.galleryVideos div.video .glyphicons-move{
	position: absolute;
	top: 10px;
	left: 10px;
	color: #3493c3 !important;
	cursor: default;
}
.galleryPhotos div.placeholder2{
    min-height: 158px;
    width: 25%;
    border: 1px dashed;
	border:1px dashed #CCCCCC;
	background-color:#3493c3;
}
.galleryPhotos div.photo.smaller,
.galleryVideos div.video.smaller{
	min-height:130px;
}
.galleryPhotos div.photo .filetypes{
	font-size:40px;
	margin-top:20px;
	color:#666666;
}
.galleryPhotos div.photo label{
	cursor:pointer;
}

.galleryPhotos div.photo .filetypes.filetypes-pdf{
	color:#d71920;
}
.galleryPhotos div.photo .filetypes.filetypes-xls,
.galleryPhotos div.photo .filetypes.filetypes-csv{
	color:#53cf36;
}
.galleryPhotos div.photo .filetypes.filetypes-doc{
	color:#549fd9;
}
.galleryPhotos div.photo .filetypes.filetypes-zip{
	color:#e8cc49;
}
.galleryPhotos div.photo .filetypes.filetypes-dwg{
	color:#844f1f;
}



.galleryPhotos div.photoTemp,
.galleryVideos div.videoTemp{
	background-color:#e5f1f8;
	border:1px solid #3493c3;	
}
.galleryVideos div.video div{
	float: left;	
}
.galleryVideos div.video div.video-description{
    width: 540px;	
}
.galleryVideos div.video div.video-description p{
    margin-top:5px;	
}
.galleryVideos div.video div.video-description label{
    text-align: left;
    vertical-align: top;
    width: 92px;	
}
.galleryVideos div.video div.video-description input{
    padding: 5px;
    width: 400px;	
}
.galleryVideos div.video div.video-description textarea{
    height: 50px;
    padding: 5px;
    width: 400px;	
}
.galleryPhotos div a,
.galleryVideos div a{
	padding:0px;
	margin:0px;
	background-color:transparent;		
}
.galleryPhotos div p,
.galleryVideos div p{
	padding:0px;
	margin:0px;	
	text-align:center;	
}
.galleryPhotos div img,
.galleryVideos div img{
	float:none;
	margin:0px;
	padding:0px;
	border:0px none;	
}
.galleryPhotos div img.file,
.galleryVideos div img.file{
	max-width:100%;
	max-height:75px;	
}

.galleryPhotos div div.photo-cover,
.galleryVideos div div.photo-cover{
	width:100%;
	height:85px;	
}
.galleryPhotos div .absolute-remove-position,
.galleryVideos div .absolute-remove-position{
	position: absolute;
	top: 2px;
	right: 5px;
}

.video-URLs .video-panel{	
	border: 1px solid silver;
    margin-bottom: 5px;
}
.video-URLs .video-panel iframe{
	width: 100%;
}
#fileQueue,
#video-file-queue,
#file-fileQueue{
	clear:left;	
	overflow: hidden;
	margin-bottom: 5px;
}

.files #photo-uploadifyUploader,
.video-files #video-uploadifyUploader,
.other-files #file-uploadifyUploader{
	display:block;
	clear:left;	
}
.files div.galleryPhotos,
.files div.galleryVideos{	
	margin-top:5px;
}

.files p.links,
.other-files p.file-links,
.video-files p.video-links{
	margin-left:0px;
}
.files p.links a,
.other-files p.file-links a,
.video-files p.video-links a{
	margin-left:0px;
}

.card .glyphicons-remove{
	color:red !important;
}
.card .glyphicons-download{
	color:#3493c3;
}

.language-mutations a.cz{
	background: url("/Public/Images/LanguageMutations/input-cz.jpg");
}
.language-mutations a.cz-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-cz.jpg");
}
.language-mutations a.sk{
	background: url("/Public/Images/LanguageMutations/input-sk.jpg");
}
.language-mutations a.sk-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-sk.jpg");
}
.language-mutations a.en{
	background: url("/Public/Images/LanguageMutations/input-en.jpg");
}
.language-mutations a.en-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-en.jpg");
}
.language-mutations a.ro{
	background: url("/Public/Images/LanguageMutations/input-ro.jpg");
}
.language-mutations a.ro-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ro.jpg");
}
.language-mutations a.ua{
	background: url("/Public/Images/LanguageMutations/input-ua.jpg");
}
.language-mutations a.ua-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ua.jpg");
}
.language-mutations a.de{
	background: url("/Public/Images/LanguageMutations/input-de.jpg");
}
.language-mutations a.de-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-de.jpg");
}
.language-mutations a.pl{
	background: url("/Public/Images/LanguageMutations/input-pl.jpg");
}
.language-mutations a.pl-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-pl.jpg");
}
.language-mutations a.ca{
	background: url("/Public/Images/LanguageMutations/input-ca.jpg");
}
.language-mutations a.ca-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ca.jpg");
}
.language-mutations a.it{
	background: url("/Public/Images/LanguageMutations/input-it.jpg");
}
.language-mutations a.it-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-it.jpg");
}
.language-mutations a.ru{
	background: url("/Public/Images/LanguageMutations/input-ru.jpg");
}
.language-mutations a.ru-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ru.jpg");
}
.language-mutations a.pt{
	background: url("/Public/Images/LanguageMutations/input-pt.jpg");
}
.language-mutations a.pt-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-pt.jpg");
}
.language-mutations a.hu{
	background: url("/Public/Images/LanguageMutations/input-hu.jpg");
}
.language-mutations a.hu-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-hu.jpg");
}
.language-mutations a.fr{
	background: url("/Public/Images/LanguageMutations/input-fr.jpg");
}
.language-mutations a.fr-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-fr.jpg");
}
footer,footer a {
    color: #666666;
    font-size: 12px;
}