body,html,*{
    margin:0px;
	padding:0px;
	font-family: Open Sans, Helvetica, sans-serif;
	color:#666666;
	font-size:14px;	
	font-weight:400;
}
body{
    background-color:#eeeeee;
}
h1{
	font-weight:300;
	color:#666666;
}

h2{
	font-size:26px;
	margin-top:20px;
	margin-bottom:20px;		
}

p{
	margin-top:5px;
	margin-bottom:15px;		
}
ul {
    list-style-type:none;
    margin:0px;
	padding:0px;
}
a {
    text-decoration:none;
    outline: none;
}
img{
	border:0px none;
}
a:hover {
    text-decoration:none;
}

header{
	background-color:#242527;
	height:45px;
	padding:2px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:30;
}
header img{
	height:100%;
}
header .user-block{
	position:absolute;
	right:0px;
	top:1px;
	width:auto;
	height:43px;
}
header .user-block li.main{
	display:inline-block;
	height:47px;
}
header .user-block li.main a{
	display:block;
	padding:12px 20px 0px 20px;
	text-align:center;
	height:43px;
	border-left:1px solid #484a4f;
}
header .user-block li.main a:hover{
	background-color:#3493c3;
}
header .user-block li.main a,
header .user-block li.main a span{
	color:#fff;
}
header .user-block li.main a span{
	margin-right:5px;
}
header .user-block li.main ul{
	display:none;
}
header .user-block li.main:hover ul{
	display:block;
	right:0px !important;
	left:auto;
	top:44px;
	text-align:right;
}
header .user-block li.main ul a{
	color:#666666;
	font-size:13px;
	padding:5px 20px;
	height:auto;
	text-align:left;
	border-left:0px none;
}
header .user-block li.main ul a span{
	color:#666666;
}
header .user-block li.main ul a:hover{
	background-color:#f5f5f5;
}

div#sidebar{
	position:fixed;
	height:100%;
	padding-top:45px;
	width:200px;
	background-color:#35363a;
}
div#sidebar p.logo{
	text-align:center;
	border-bottom:1px solid #646464;
	margin:0px;
	padding:10px 0px;
}
div#sidebar p.logo img{
	max-width:90%;
}
div#sidebar li.main{
	border-bottom: 1px solid #646464;
	position:relative;
}
div#sidebar li.main a{
	display:block;
	padding:10px; 
	color:#eeeeee;
	position:relative;
}
div#sidebar li.main a:hover{
	background-color:#27272B;
	text-decoration:none;
}

div#sidebar li.main a span{
	color:#eeeeee;
	font-size:16px;
	margin-right:2px;
}
div#sidebar li.main a span.right{
	position:absolute;
	right:10px;
	top:15px;
	font-size:12px;
}
div#sidebar li.main a.selected span.right{
	right:6px;
}
div#sidebar li.main a span.glyphicons-chevron-left{
	display:none;
}
div#sidebar li.main a.collapsed span.glyphicons-chevron-down{
	display:none;
}
div#sidebar li.main a span.glyphicons-chevron-down{
	display:block;
}
div#sidebar li.main a.collapsed span.glyphicons-chevron-left{
	display:block;
}
div#sidebar li.main a.selected{
	border-right:4px solid #3493c3;
	background-color:#3493c3;
}
div#sidebar li.main ul li a.selected{
	border-right:0px none;
	border-left:4px solid #3493c3;
}
div#sidebar li.main ul{
	margin:0px 10px;
}
div#sidebar li.main ul li a{
	padding:5px;
	font-size:12px;
}
div#sidebar li.main ul li a:hover{
	background-color:#414247;
}
div#sidebar li.main ul li a.selected{
	background-color:#27272B;
}

div#sidebar li.main ul li{
	border-top:1px dotted #646464;
}
div#sidebar div.copyright{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	text-align:center;
	padding:10px;
	border-top:1px solid #646464;
}
div#sidebar div.copyright a{
	color:#999999;
	font-size:12px;
}

div#container{
	background-image:url("/Public/Images/Admin/login_bg.png?6");
	background-repeat: repeat-x;
    background-position: center top;
    min-height:366px;
    padding-top:150px;
}
div#content div#login-form{	

    border:1px solid #000000;
    background-color:#000;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.80);
	-moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.80);
	box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.80);
	position:relative;	
}
div#content div#login-form .btn,
div#content div#login-form .form-control{	

    height:42px;	
}
div#content div#login-form div#langs{	
    position:absolute;
    top:-20px;
    right:-12px;
    width:100px;
    height:20px;
}
div#content div#login-form div.admin{	
    position:absolute;
    top:-28px;
    left:5px;
    width:100px;
    height:20px;
    font-size:22px;
    color:#000;
    font-weight:700;
}
div#content div#login-form div#langs a,
header ul.langs span{
	width:18px;
	height:12px;
	display:inline-block;
	background-size: 18px;
	cursor:pointer;
}

div#content div#login-form h1{
	color:#cccccc;
	margin-top:30px;
	margin-bottom:20px;
}
div#content div#login-form h1 span{
	color:#cccccc;
}
div#content div#login-form div.content{	
    width:100%;
    border:1px solid #9db2bd;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0px 40px;
	color:#999999;
}
div#content div#login-form div.content div.info{	
	text-align:center;
	margin-bottom:40px;
}
div#content div#login-form div.content div.form-group{	
	color:#999999;
}
div#content div#login-form div.content div.img{	
    text-align:center;
}
div#content div#login-form div.content img{	
    margin:20px auto; 
}
div#content div#login-form div.content p,
div#content div#login-form div.content a{	
    color:#999999;
    text-align:center;
}
div#content div#login-form div.content label{	
    color:#999999;
}
div#content div#login-form div.content a{	
    text-decoration: underline;
}
div#content div#login-form div.content div.forgot-password{	
    padding-top:4px;
}
div#content div#login-form span.form-control-feedback{	
    left:0px;
    right:auto;
    font-size:16px;
    opacity:0.5;
    height:42px;
    line-height: 32px;
    width:42px;
}
div#content div#login-form .has-feedback .form-control {
  padding-left: 40px;
  padding-right:0px;
}
span.add-link{
	cursor:pointer;
	color:#fff;
	margin-top:5px;
	display:inline-block;
}
span.remove-link{
	cursor:pointer;
	color:#fff;
	display:block;
	position:absolute;
	top:11px;
	right:10px;
	height: 15px;
    width: 21px;
}

span.remove-link{
	background-image:url("/Public/Images/Admin/remove.png");
}
div#main-content{
	padding-left:200px;
	padding-top:45px;
}
.link-sections section{
	
	margin-bottom:10px;
}
.link-sections section ul.other-sections{
	margin-bottom:10px;
}
.link-sections section .dropdown-menu a span{
	font-size:12px;
}
.data-list.header{
	border-bottom:2px solid #ddd;
	padding-top:8px;
	padding-bottom:8px;
}
.data-list li{
	border-top:1px solid #ddd;
}
.data-list li div.first-col{
	padding-left:0px;
}
.data-list li div:not(.clear-left){
	padding-top:8px;
	padding-bottom:8px;
}
.data-list .delete{
	margin-left:5px;
}
.data-list .placeholder2{

	height:40px;
	border:1px dashed #CCCCCC;
	background-color:#3493c3;
	margin-left:0px;
		
}
.data-list .th{

	font-weight:700;
		
}
.other-sections .placeholder2{

	height:125px;
	border:1px dashed #CCCCCC;
	background-color:#3493c3;
	margin-left:0px;
		
}
.sub-links{
	display:none;
}

.language-mutations{
	display: block;
}
.language-mutations a{
	display: inline-block;
	padding: 0;
	margin-right: 5px;
	width: 15px;
	height: 11px;
	border: 1px solid #D7D7D7;
	cursor:pointer;
}
.language-mutations a.cz{
	background: url("/Public/Images/LanguageMutations/input-cz.jpg");
}
.language-mutations a.cz-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-cz.jpg");
}
.language-mutations a.sk{
	background: url("/Public/Images/LanguageMutations/input-sk.jpg");
}
.language-mutations a.sk-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-sk.jpg");
}
.language-mutations a.en{
	background: url("/Public/Images/LanguageMutations/input-en.jpg");
}
.language-mutations a.en-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-en.jpg");
}
.language-mutations a.ro{
	background: url("/Public/Images/LanguageMutations/input-ro.jpg");
}
.language-mutations a.ro-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ro.jpg");
}
.language-mutations a.ua{
	background: url("/Public/Images/LanguageMutations/input-ua.jpg");
}
.language-mutations a.ua-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ua.jpg");
}
.language-mutations a.de{
	background: url("/Public/Images/LanguageMutations/input-de.jpg");
}
.language-mutations a.de-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-de.jpg");
}
.language-mutations a.pl{
	background: url("/Public/Images/LanguageMutations/input-pl.jpg");
}
.language-mutations a.pl-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-pl.jpg");
}
.language-mutations a.ca{
	background: url("/Public/Images/LanguageMutations/input-ca.jpg");
}
.language-mutations a.ca-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ca.jpg");
}
.language-mutations a.it{
	background: url("/Public/Images/LanguageMutations/input-it.jpg");
}
.language-mutations a.it-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-it.jpg");
}
.language-mutations a.ru{
	background: url("/Public/Images/LanguageMutations/input-ru.jpg");
}
.language-mutations a.ru-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-ru.jpg");
}
.language-mutations a.pt{
	background: url("/Public/Images/LanguageMutations/input-pt.jpg");
}
.language-mutations a.pt-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-pt.jpg");
}
.language-mutations a.hu{
	background: url("/Public/Images/LanguageMutations/input-hu.jpg");
}
.language-mutations a.hu-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-hu.jpg");
}
.language-mutations a.fr{
	background: url("/Public/Images/LanguageMutations/input-fr.jpg");
}
.language-mutations a.fr-dis{
	background: url("/Public/Images/LanguageMutations/dis-input-fr.jpg");
}

.hidden-lang{
	display:none;
}
.selected-link span.parrent-links {
    overflow-y: scroll;
	height: 145px;
	width: 100%;
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #D7D7D7;
	min-width: 189px;
	z-index:10;
}
.selected-link:hover span.parrent-links {
	display: block;
}

.selected-link span.parrent-links span.link {
    display: block;
    padding-left:0px;
}
.selected-link span.parrent-links span.link.nested{
    padding-left:10px;
}
.selected-link span.parrent-links span.link span.text{
    display: block;
	padding: 5px 10px;
	cursor: pointer;
}
.selected-link span.parrent-links span.link span.text span.glyphicons{
    font-size:12px;
}
.selected-link span.parrent-links span.link span.text:hover{
    background-color: #eee;
}
.selected-link span.parrent-links span.link span.link-id{
    display: none;
}
.selected-link,
.selected-link span.value{
	display: block;
	position: relative;
}
.selected-link span.value.has-error{
	border-color: #a94442;
}
.sublink-element-item .no-MCE{
	height:75px;
}
.galleryPhotos div.photo,
.galleryVideos div.video,
.galleryPhotos div.placeholder2{
	float:left;
	text-align:center;
	border:1px solid silver;
	margin-bottom:5px;	
	padding-top:5px;
	padding-bottom:5px;
	min-height:190px;
}
.galleryPhotos div.photo .glyphicons-move,
.galleryVideos div.video .glyphicons-move{
	position: absolute;
	top: 10px;
	left: 10px;
	color: #3493c3 !important;
	cursor: default;
}
.galleryPhotos div.placeholder2{
    min-height: 158px;
    width: 25%;
    border: 1px dashed;
	border:1px dashed #CCCCCC;
	background-color:#3493c3;
}
.galleryPhotos div.photo.smaller,
.galleryVideos div.video.smaller{
	min-height:130px;
}
.galleryPhotos div.photo .filetypes{
	font-size:40px;
	margin-top:20px;
	color:#666666;
}
.galleryPhotos div.photo label{
	cursor:pointer;
}

.galleryPhotos div.photo .filetypes.filetypes-pdf{
	color:#d71920;
}
.galleryPhotos div.photo .filetypes.filetypes-xls,
.galleryPhotos div.photo .filetypes.filetypes-csv{
	color:#53cf36;
}
.galleryPhotos div.photo .filetypes.filetypes-doc{
	color:#549fd9;
}
.galleryPhotos div.photo .filetypes.filetypes-zip{
	color:#e8cc49;
}
.galleryPhotos div.photo .filetypes.filetypes-dwg{
	color:#844f1f;
}



.galleryPhotos div.photoTemp,
.galleryVideos div.videoTemp{
	background-color:#e5f1f8;
	border:1px solid #3493c3;	
}
.galleryVideos div.video div{
	float: left;	
}
.galleryVideos div.video div.video-description{
    width: 540px;	
}
.galleryVideos div.video div.video-description p{
    margin-top:5px;	
}
.galleryVideos div.video div.video-description label{
    text-align: left;
    vertical-align: top;
    width: 92px;	
}
.galleryVideos div.video div.video-description input{
    padding: 5px;
    width: 400px;	
}
.galleryVideos div.video div.video-description textarea{
    height: 50px;
    padding: 5px;
    width: 400px;	
}
.galleryPhotos div a,
.galleryVideos div a{
	padding:0px;
	margin:0px;
	background-color:transparent;		
}
.galleryPhotos div p,
.galleryVideos div p{
	padding:0px;
	margin:0px;	
	text-align:center;	
}
.galleryPhotos div img,
.galleryVideos div img{
	float:none;
	margin:0px;
	padding:0px;
	border:0px none;	
}
.galleryPhotos div img.file,
.galleryVideos div img.file{
	max-width:100%;
	max-height:75px;	
}

.galleryPhotos div div.photo-cover,
.galleryVideos div div.photo-cover{
	width:100%;
	height:85px;	
}
.galleryPhotos div .absolute-remove-position,
.galleryVideos div .absolute-remove-position{
	position: absolute;
	top: 2px;
	right: 5px;
}
.video-URLs .video-panel{	
	border: 1px solid silver;
    padding-top: 15px;
    margin-bottom: 5px;
}
#fileQueue,
#video-file-queue,
#file-fileQueue{
	clear:left;	
	overflow: hidden;
	margin-bottom: 5px;
}

.files #photo-uploadifyUploader,
.video-files #video-uploadifyUploader,
.other-files #file-uploadifyUploader{
	display:block;
	clear:left;	
}
.files div.galleryPhotos,
.files div.galleryVideos{	
	margin-top:5px;
	overflow: hidden;	
}

.files p.links,
.other-files p.file-links,
.video-files p.video-links{
	margin-left:0px;
}
.files p.links a,
.other-files p.file-links a,
.video-files p.video-links a{
	margin-left:0px;
}
.search-content-list{
	max-height: 287px;
    overflow: auto;
    background-color: #ddd;
    position: absolute;
    top: 101px;
    left: 0px;
    width: 100%;
    z-index: 2;
}
.search-content-list ul{
	display:none;
}
.search-content-list li{
	padding:5px 10px;
	cursor:pointer;
	border-bottom: 1px dashed #ccc;
}
.search-content-list li span{
	display:none;
}
.search-content-list li:hover{
	background-color:#ccc;
}
.related-articles span.selected-articles{
	width: 100%;
	height: 160px;
	position: relative;
	border: 1px solid #D7D7D7;
	display: inline-block;
	overflow-y:scroll; 
}
.related-articles span.selected-articles span.odd{
	background-color: #ffffff;
	display: block;
	padding: 6px;
	font-weight: bold;
}
.related-articles span.selected-articles span.even{
	display: block;
	padding: 6px;
}
.related-articles span.selected-articles span.title{
	float: left;
	font-weight: bold;
}
.related-articles span.selected-articles a{
	float: right;
	background: url("/Public/Images/Admin/delete.png");
	width: 23px;
	height: 23px;
	padding: 0;
}
.related-articles span.selected-articles span.clear-both{
	display: block;
}
.product-size{
	margin:60px;
	display: inline-block;
	position: relative;
}
.product-size img{
	width: 210px;
}
.product-size-wrapper{
	border: 1px solid #eee;
	height: 335px;
}
.product-size-wrapper div.form-group.radio{
	position: absolute;
    top: 0px;
    left: 13px;
}
.statuses .item{
	margin-bottom: 20px;
}
.statuses .colorpicker-element{
	width: 120px;
	float: left;
}
.statuses .priority{
	width: 40px;
	float: left;
}
footer{
	padding:10px;
	font-size:12px;
	text-align:center;
}
footer a{
	color:#666666;	
	font-size:12px;
}
.well{
	background-color:#fff;
	border: 1px solid #ddd;
}
.panel-heading span.glyphicons{
	font-size:16px;
}
.panel-heading span.glyphicons-remove,
.panel-heading span.glyphicons-move{
	float:right;
	cursor:pointer;
}
.panel-heading .element-width{
	float: right;	
	margin-right: 40px;
}
.panel-heading .element-width label{
	
}
.panel-heading .element-width select{
	height: 20px;
	padding: 0px;
	margin-left: 10px;
}
.panel-heading span.glyphicons-move{
	float:right;
	cursor:pointer;
	margin-right:8px;
}
.panel-heading .label{
	display:inline-block;
	font-size:14px;
	padding:0.2em 0.7em;
}
.label-purple{	
	background-color: #b75ed8;
}
.label-brown{	
	background-color: #915835;
}
.label-dark-green{
	background-color: #5f9124;
}
.label-dark-yellow{
	background-color: #c28618;
}
.label-dark-fosfor{
	background-color: #bcbe00;
}
.label-concrete{
	font-size:12px !important;
}
.text-small{
	font-size:12px !important;
}
.text-italic{
	font-style: italic;
}
.tooltip-inner {
	font-size:12px;
}
.line-shadow{
	background-image: url("../Images/line_shadow.png?6");
	height:8px;
	background-repeat: repeat-x;
	width:100%;
}
.glyphicons{	
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.glyphicons.form-control-feedback{
	position: absolute;
	top:5px;
}
.glyphicons:before{	
 padding:0px;
}
.glyphicons.wider{	
  padding-right:5px;
}
.glyphicons-check{
	font-size:15px;
}
.glyphicons-remove,
.glyphicons-remove{
	color:red !important;
}
.glyphicons-download{
	color:#3493c3;
}
.glyphicons-remove.form-element-value,
.glyphicons-remove.form-element-inner-value{
	font-size:18px;
	margin-left:5px;
	margin-top:8px;
	cursor:pointer;
}
.glyphicons-pencil,
.glyphicons-move{
	color:#3493c3 !important;
	font-size:16px;
	cursor:pointer;
}
.label-black {
  background-color: #333;
}
.input-xs{
    height: 20px;
    line-height: 15px;
    padding: 0px 2px;
    font-size: 10px;
}
.text-muted{
	display: none;
}
.form-control{
	font-size:12px;	
}
.form-control.micro{
	font-size: 10px;
    height: 26px;
    padding: 0px 12px;
}
.form-inline .form-group{
	vertical-align:top !important;
}
.inputs-elements{
	padding-left:30px;
}
.parent-label{
	
}
.btn{
	text-transform: uppercase;
}
.btn-primary{
	background-color:#3493c3;
	color:#fff !important;
}
.btn-primary span{
	color:#fff !important;
}

.btn.active{
	background-color:#3493c3;
}
.btn.active span{
	color:#fff;
}
.btn-xs{
	padding:5px;
	font-size:10px;
}

.active .text-info{
	color:#fff;
}

.modal-header{
	-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
}
.modal-title{
	font-weight: 600;
}
.label{
	padding:0.3em .7em .4em;
}
.radio-label{
	display:inline-block;
	width:100px;
}
.input-b{
	display:none;
}
.color-pointer{
	color:#3593c4;
	cursor:pointer;
	text-decoration: underline;
}
.requiere{
	color: #d51d1d;
	width: 12px;
	height: 42px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
	font-weight: 600;
	font-size: 16px;
}
.text-overflow{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.left-button{
	padding-left:0px;
}
.right-button{
	padding-right:0px;
}
.clear-left{
	clear:left ;	
}
.clear-both{
	clear:both ;	
}
.clear-right{
	clear:right ;	
}
.none{
	display: none;
}
.padding-bottom-20{
	padding-bottom:20px;
}
.margin-top-5{
	margin-top:5px;
}
.checkbox{
	margin:0px;
}
.negative {
	color:red !important;
}
.no-data {
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	font-weight:bold;
}
.uploadify-queue-item {
    border: 1px solid #E5E5E5 !important; 
    width:245px !important; 
}
.uploadify-queue-item .fileName,
.uploadify-queue-item .data{
    font-size:10px;  
}
.no-left-padding{
	padding-left:0px;
}
.ui-datepicker-trigger{
	position:absolute;
	right:3px;
	top:3px;
	cursor:pointer;
}
.fileinput-new .input-group .input-group-btn .btn.btn-file {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.fileinput .fileinput-filename {
    overflow: visible;
}
.fileinput .fileinput-filename .dropdown-menu > li { 
    padding: 3px 20px;
}
input.has-error,select.has-error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.required-checkboxes.has-error label{
    border-color: #a94442;	
}
.error{  
	color:#CC0000;
	font-size:13px;
    text-align:center;
	padding:10px;
    background-color:#FFD9D9;
    border:1px solid #CC0000;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.message{
	font-size:13px;
	text-align:center;
	padding:10px;
    background-color:#D9FFCC;
    border:1px solid #00CC33;
    color:#339933;	
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.menu .list-group-item{	
	padding: 0px;
}
.menu .list-group-item.selected, .menu .list-group-item:focus, .menu .list-group-item:hover{
	background-color: #3493c3;
	color: #ffffff;
}
.menu .list-group-item.disabled, .menu .list-group-item.disabled:focus, .menu .list-group-item.disabled:hover{
	color: #ccc;
	background-color: #f5f5f5;
	padding: 10px 15px;
}
.menu .list-group-item a{
	color: inherit;
	padding: 10px 15px;
	display: block;
}
.filters{
	margin-bottom: 25px;
}
button.sort{
    outline:none !important;
    position: relative !important;
    padding: 6px 20px !important;
}
button.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #2e2e2e;
    content: "";
    top: 14px;
    right: 6px;
    outline:none;
}
button.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #2e2e2e;
    content: "";
    top: 14px;
    right: 6px;
    outline:none;
}
button.sort:after {
	position:absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    content: "";
    top: 14px;
    right: 6px;
    outline:none;
}
.order-detail p {
	margin: 0px;
}
.order-detail .form-group {
	margin-bottom: 0px;
}
.order-detail .product-item .title {
	font-weight: bold;
	font-size: 18px;
}
.order-detail .product-item .additional-info {
	
}
.order-detail .product-item .additional-info div.param-item{
	font-style: italic;
}
.order-detail .product-item .additional-info div.param-item span.param-title{
	font-weight: bold;
}
.order-detail .additional-item .title{
	font-weight: bold;
	font-size: 14px;
}
.no-margin{
	margin:0px !important;
}
.no-margin-top{
	margin-top:0px !important;
}
.no-margin-right{
	margin-right:0px !important;
}
.no-margin-bottom{
	margin-bottom:0px !important;
}
.no-margin-left{
	margin-left:0px !important;
}
.no-padding{
	padding:0px !important;
}
.no-padding-top{
	padding-top:0px !important;
}
.no-padding-right{
	padding-right:0px !important;
}
.no-padding-bottom{
	padding-bottom:0px !important;
}
.no-padding-left{
	padding-left:0px !important;
}